<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

{% seo %}
  </head>

  <body>

    <header>
      <div class="container">
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>

    <div class="container">
      <section id="bookmarklets">
	<hr/>
	<div>Please wait while content is loading...</div>
	<hr/>
      </section>
    </div>
    
    <footer>
      <div class="container">
        <section id="downloads">
          {% if site.show_downloads %}
            <a href="{{ site.github.zip_url }}" class="btn">Download as .zip</a>
            <a href="{{ site.github.tar_url }}" class="btn">Download as .tar.gz</a>
          {% endif %}
          <a href="{{ site.github.repository_url }}" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
        </section>
        <section id="copyright">
          Copyright &copy; 2019-{{ site.time | date: '%Y' }} <a href="https://www.leplus.org" target="_blank">Thomas Leplus</a>.
        </section>
        <section id="license">
          Unless otherwise noted, the content of this site is licensed under <a href="{{site.github.license.url}}" target="_blank">{{site.github.license.name}}</a>.
        </section>
      </div>
    </footer>

    <script>
      "use strict";
      async function fillSection(section) {
	  var content = [];
	  console.debug('Fetching index');
          var index = await fetch('https://raw.githubusercontent.com/{{site.github.repository_nwo}}/main/javascripts/index.json')
	      .then((response) => response.json())
	      .catch(console.error);
	  console.debug('Fetched index');
	  for (let i = 0; i < index.length; i++) {
	      content.push(document.createElement('hr'));
	      console.debug('Adding ' + index[i]);
	      var bookmarklet = document.createElement('section');
	      content.push(bookmarklet);
	      bookmarklet.className = 'bookmarklet';
	      var title = document.createElement('h3');
	      bookmarklet.appendChild(title);
	      var tlink = document.createElement('a');
	      title.appendChild(tlink);
	      tlink.className = 'name';
	      tlink.id = index[i].replaceAll(/[^a-zA-Z0-9\x21\$\x26\x27\(\)\*\+\x2c\x2d\.\/\x3a\x3b\x3d\?\x40_]/g, '-').replaceAll(/\x2d+/g, '-').trim();
	      tlink.textContent = index[i].trim();
	      console.debug('Fetching description for ' + index[i]);
	      var text = await fetch('https://raw.githubusercontent.com/{{site.github.repository_nwo}}/main/javascripts/' + encodeURIComponent(index[i]) + '.txt')
		  .then((response) => response.text())
		  .catch(console.error);
	      console.debug('Fetched description for ' + index[i]);
	      var desc = document.createElement('h4');
	      bookmarklet.appendChild(desc);
	      desc.textContent = 'Description';
	      var description = document.createElement('p');
	      bookmarklet.appendChild(description);
	      description.textContent = text.trim();
	      console.debug('Fetching source code for ' + index[i]);
	      var js = await fetch('https://raw.githubusercontent.com/{{site.github.repository_nwo}}/main/javascripts/' + encodeURIComponent(index[i]) + '.js')
		  .then((response) => response.text())
		  .catch(console.error);
	      console.debug('Fetched source code for ' + index[i]);
	      var book = document.createElement('h4');
	      bookmarklet.appendChild(book);
	      book.textContent = 'Bookmarklet';
	      var instructions = document.createElement('p');
	      bookmarklet.appendChild(instructions);
	      instructions.innerHTML = 'Drag and drop or bookmark this link: <a href="javascript:(function()%7B' + encodeURIComponent(js.replace(/[\r\n\t]+/gm, ' ').replace(/\x20+/gm, ' ').trim()) + '%7D)()" class="url">' + index[i] + '</a>';
	      var code = document.createElement('h4');
	      bookmarklet.appendChild(code);
	      code.textContent = 'Source code';
	      var pre = document.createElement('pre');
	      bookmarklet.appendChild(pre);
	      pre.className = 'code';
	      var source = document.createElement('code');
	      pre.appendChild(source);
	      source.textContent = js.trim();
	  }
	  content.push(document.createElement('hr'));
	  section.replaceChildren(...content);
      }
      fillSection(document.getElementById('bookmarklets'));
    </script>
    
  </body>
</html>
