<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

{% seo %}
  </head>

  <body>

    <header>
      <div class="container">
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>

    <div class="container">
      <section id="bookmarklets">
        
        <hr/>
        
        <section class="bookmarklet">
          <h3><a name="allow-copy-paste" class="name">Allow copy paste</a></h3>
          <h4>Description</h4>
          <p>This bookmarklet reenables copy/paste on all elements in the page (typically a text field or text area).</p>
          <h4>Bookmarklet</h4>
          <p>Drag and drop or bookmark this link: <a href="javascript:(function()%7Breturn%3B%7D)()" class="url">Bookmarklet</a></p>
          <h4>Source code</h4>
          <pre class="code">return;</pre>
        </section>
        
        <hr/>
        
        <section class="bookmarklet">
          <h3><a name="allow-right-click" class="name">Allow right-click</a></h3>
          <h4>Description</h4>
          <p>This bookmarklet reenables the right-click context menu on a page.</p>
          <h4>Bookmarklet</h4>
          <p>Drag and drop or bookmark this link: <a href="javascript:(function()%7Breturn%3B%7D)()" class="url">Bookmarklet</a></p>
          <h4>Source code</h4>
          <pre class="code">return;</pre>
        </section>
        
        <hr/>
        
        <section class="bookmarklet">
          <h3><a name="allow-save-password" class="name">Allow save password</a></h3>
          <h4>Description</h4>
          <p>This bookmarklet reenables the saving of a password by your browser's password manager.</p>
          <blockquote>
            <p>Note: use with caution. Password managers are great but then need to be protected with an very secure (i.e. long, random and unique) master password.</p>
          </blockquote>
          <h4>Bookmarklet</h4>
          <p>Drag and drop or bookmark this link: <a href="javascript:(function()%7Breturn%3B%7D)()" class="url">Bookmarklet</a></p>
          <h4>Source code</h4>
          <pre class="code">return;</pre>
        </section>
        
        <hr/>
        
        <section class="bookmarklet">
          <h3><a name="amazon-sort-by-number-of-reviews" class="name">Amazon - Sort by number of reviews</a></h3>
          <h4>Description</h4>
          <p>This bookmarklet changes the sort order of your current Amazon product search to order the results by descending number of user reviews. I find that using this sort in combination with the "Avg. Customer Review" filter greatly improves my searches.</p>
          <blockquote>
            <p>Note: for some reason this sort does not work until you limit your search to a "department" of the Amazon online store.</p>
          </blockquote>
          <p>Here is a link demonstrating the result for USB cables: <a href="https://www.amazon.com/s?k=usb+cable&amp;i=electronics&amp;s=review-count-rank" rel="nofollow">https://www.amazon.com/s?k=usb+cable&amp;i=electronics&amp;s=review-count-rank</a></p>
          <h4>Bookmarklet</h4>
          <p>Drag and drop or bookmark this link: <a href="javascript:(function()%7Breturn%3B%7D)()" class="url">Bookmarklet</a></p>
          <h4>Source code</h4>
          <pre class="code">return;</pre>
        </section>
        
        <hr/>
        
        <section class="bookmarklet">
          <h3><a name="enable-all" class="name">Enable all</a></h3>
          <h4>Description</h4>
          <p>This bookmarklet reenables every element that is disabled in the page (button, text field, etc.).</p>
          <h4>Bookmarklet</h4>
          <p>Drag and drop or bookmark this link: <a href="javascript:(function()%7Breturn%3B%7D)()" class="url">Bookmarklet</a></p>
          <h4>Source code</h4>
          <pre class="code">return;</pre>
        </section>
        
        <hr/>
        
        <section class="bookmarklet">
          <h3><a name="go-to-cve" class="name">Go to CVE</a></h3>
          <h4>Description</h4>
          <p>This bookmarklet opens a new window to display the selected CVE information.</p>
          <h4>Bookmarklet</h4>
          <p>Drag and drop or bookmark this link: <a href="javascript:(function()%7Breturn%3B%7D)()" class="url">Bookmarklet</a></p>
          <h4>Source code</h4>
          <pre class="code">return;</pre>
        </section>
        
        <hr/>
        
        <section class="bookmarklet">
          <h3><a name="google-maps-to-suncalc.org" class="name">Google Maps to SunCalc.org</a></h3>
          <h4>Description</h4>
          <p>Use this bookmarklet to convert the currently opened Google Maps page to SunCalc.org.</p>
          <h4>Bookmarklet</h4>
          <p>Drag and drop or bookmark this link: <a href="javascript:(function()%7Breturn%3B%7D)()" class="url">Bookmarklet</a></p>
          <h4>Source code</h4>
          <pre class="code">return;</pre>
        </section>
        
        <hr/>
        
        <section class="bookmarklet">
          <h3><a name="nato-spell" class="name">NATO spell</a></h3>
          <h4>Description</h4>
          <p>This bookmarklet spells the current selection using NATO alphabet. The case of the NATO name will be the same at the case of the original character. Characters that are not part of the NATO alphabet will be percent-encoding (e.g. %2F for '/') to help identify them. This bookmarklet can be used to identify characters that are ambiguous in certain typefaces. For example the number zero (0) will be spelled "zero" while the letter capital O will be spelled "Oscar".</p>
          <h4>Bookmarklet</h4>
          <p>Drag and drop or bookmark this link: <a href="javascript:(function()%7Breturn%3B%7D)()" class="url">Bookmarklet</a></p>
          <h4>Source code</h4>
          <pre class="code">return;</pre>
        </section>
        
        <hr/>
        
        <section class="bookmarklet">
          <h3><a name="ssl-server-test" class="name">SSL server test</a></h3>
          <h4>Description</h4>
          <p>Run a SSLLabs SSL audit on the server that you are currently on.</p>
          <h4>Bookmarklet</h4>
          <p>Drag and drop or bookmark this link: <a href="javascript:(function()%7Breturn%3B%7D)()" class="url">Bookmarklet</a></p>
          <h4>Source code</h4>
          <pre class="code">return;</pre>
        </section>
        
        <hr/>
        
        <section class="bookmarklet">
          <h3><a name="search-amazon" class="name">Search Amazon</a></h3>
          <h4>Description</h4>
          <p>Use this bookmarklet to search the current text selection on Amazon. Most web browsers only support a single default search engine. This bookmarklet can be used as a shortcut to use an alternate search engine.</p>
          <h4>Bookmarklet</h4>
          <p>Drag and drop or bookmark this link: <a href="javascript:(function()%7Breturn%3B%7D)()" class="url">Bookmarklet</a></p>
          <h4>Source code</h4>
          <pre class="code">return;</pre>
        </section>
        
        <hr/>
        
        <section class="bookmarklet">
          <h3><a name="search-bing" class="name">Search Bing</a></h3>
          <h4>Description</h4>
          <p>Use this bookmarklet to search the current text selection on Bing. Most web browsers only support a single default search engine. This bookmarklet can be used as a shortcut to use an alternate search engine.</p>
          <h4>Bookmarklet</h4>
          <p>Drag and drop or bookmark this link: <a href="javascript:(function()%7Breturn%3B%7D)()" class="url">Bookmarklet</a></p>
          <h4>Source code</h4>
          <pre class="code">return;</pre>
        </section>
        
        <hr/>
        
        <section class="bookmarklet">
          <h3><a name="search-duckduckgo" class="name">Search DuckDuckGo</a></h3>
          <h4>Description</h4>
          <p>Use this bookmarklet to search the current text selection on DuckDuckGo. Most web browsers only support a single default search engine. This bookmarklet can be used as a shortcut to use an alternate search engine.</p>
          <h4>Bookmarklet</h4>
          <p>Drag and drop or bookmark this link: <a href="javascript:(function()%7Breturn%3B%7D)()" class="url">Bookmarklet</a></p>
          <h4>Source code</h4>
          <pre class="code">return;</pre>
        </section>
        
        <hr/>
        
        <section class="bookmarklet">
          <h3><a name="search-google" class="name">Search Google</a></h3>
          <h4>Description</h4>
          <p>Use this bookmarklet to search the current text selection on Google. Most web browsers only support a single default search engine. This bookmarklet can be used as a shortcut to use an alternate search engine.</p>
          <h4>Bookmarklet</h4>
          <p>Drag and drop or bookmark this link: <a href="javascript:(function()%7Breturn%3B%7D)()" class="url">Bookmarklet</a></p>
          <h4>Source code</h4>
          <pre class="code">return;</pre>
        </section>
        
        <hr/>
        
        <section class="bookmarklet">
          <h3><a name="search-internet-archive" class="name">Search Internet Archive</a></h3>
          <h4>Description</h4>
          <p>Use this bookmarklet to do a Internet Archive search for old versions of the page that you are currently on.</p>
          <h4>Bookmarklet</h4>
          <p>Drag and drop or bookmark this link: <a href="javascript:(function()%7Breturn%3B%7D)()" class="url">Bookmarklet</a></p>
          <h4>Source code</h4>
          <pre class="code">return;</pre>
        </section>
        
        <hr/>
        
        <section class="bookmarklet">
          <h3><a name="search-reddit" class="name">Search Reddit</a></h3>
          <h4>Description</h4>
          <p>Use this bookmarklet to search the current text selection on Reddit. Most web browsers only support a single default search engine. This bookmarklet can be used as a shortcut to use an alternate search engine.</p>
          <h4>Bookmarklet</h4>
          <p>Drag and drop or bookmark this link: <a href="javascript:(function()%7Breturn%3B%7D)()" class="url">Bookmarklet</a></p>
          <h4>Source code</h4>
          <pre class="code">return;</pre>
        </section>
        
        <hr/>
        
        <section class="bookmarklet">
          <h3><a name="search-stackoverflow" class="name">Search StackOverflow</a></h3>
          <h4>Description</h4>
          <p>Use this bookmarklet to search the current text selection on StackOverflow. Most web browsers only support a single default search engine. This bookmarklet can be used as a shortcut to use an alternate search engine.</p>
          <h4>Bookmarklet</h4>
          <p>Drag and drop or bookmark this link: <a href="javascript:(function()%7Breturn%3B%7D)()" class="url">Bookmarklet</a></p>
          <h4>Source code</h4>
          <pre class="code">return;</pre>
        </section>
        
        <hr/>
        
        <section class="bookmarklet">
          <h3><a name="search-wikipedia" class="name">Search Wikipedia</a></h3>
          <h4>Description</h4>
          <p>Use this bookmarklet to search the current text selection on Wikipedia. Most web browsers only support a single default search engine. This bookmarklet can be used as a shortcut to use an alternate search engine.</p>
          <h4>Bookmarklet</h4>
          <p>Drag and drop or bookmark this link: <a href="javascript:(function()%7Breturn%3B%7D)()" class="url">Bookmarklet</a></p>
          <h4>Source code</h4>
          <pre class="code">return;</pre>
        </section>
        
        <hr/>
        
        <section class="bookmarklet">
          <h3><a name="search-youtube" class="name">Search YouTube</a></h3>
          <h4>Description</h4>
          <p>Use this bookmarklet to search the current text selection on YouTube. Most web browsers only support a single default search engine. This bookmarklet can be used as a shortcut to use an alternate search engine.</p>
          <h4>Bookmarklet</h4>
          <p>Drag and drop or bookmark this link: <a href="javascript:(function()%7Breturn%3B%7D)()" class="url">Bookmarklet</a></p>
          <h4>Source code</h4>
          <pre class="code">return;</pre>
        </section>
        
        <hr/>
        
        <section class="bookmarklet">
          <h3><a name="search-site" class="name">Search site</a></h3>
          <h4>Description</h4>
          <p>Use this bookmarklet to do a Google search restricted to pages from the domain that you are currently on.</p>
          <h4>Bookmarklet</h4>
          <p>Drag and drop or bookmark this link: <a href="javascript:(function()%7Breturn%3B%7D)()" class="url">Bookmarklet</a></p>
          <h4>Source code</h4>
          <pre class="code">return;</pre>
        </section>
        
        <hr/>
        
        <section class="bookmarklet">
          <h3><a name="show-password" class="name">Show password</a></h3>
          <h4>Description</h4>
          <p>This bookmarklet displays the current value of a masked password field. To use the bookmarklet, simply click inside the password field that you want to be able to save, then click on the bookmarklet.</p>
          <blockquote>
            <p>Note: use with caution. Beware of your surroundings when using this bookmarklet or someone unintended could see your password.</p>
          </blockquote>
          <h4>Bookmarklet</h4>
          <p>Drag and drop or bookmark this link: <a href="javascript:(function()%7Breturn%3B%7D)()" class="url">Bookmarklet</a></p>
          <h4>Source code</h4>
          <pre class="code">return;</pre>
        </section>
        
        <hr/>
        
        <section class="bookmarklet">
          <h3><a name="strip-url-parameters" class="name">Strip URL parameters</a></h3>
          <h4>Description</h4>
          <p>Use this bookmarklet to remove all the URL parameters of the page that you are currently on.</p>
          <h4>Bookmarklet</h4>
          <p>Drag and drop or bookmark this link: <a href="javascript:(function()%7Breturn%3B%7D)()" class="url">Bookmarklet</a></p>
          <h4>Source code</h4>
          <pre class="code">return;</pre>
        </section>
        
        <hr/>
        
        <section class="bookmarklet">
          <h3><a name="submit-to-archive.today" class="name">Submit to Archive.today</a></h3>
          <h4>Description</h4>
          <p>Use this bookmarklet to submit the page that you are currently on to Archive.today or search for an existing version in their cache.</p>
          <h4>Bookmarklet</h4>
          <p>Drag and drop or bookmark this link: <a href="javascript:(function()%7Breturn%3B%7D)()" class="url">Bookmarklet</a></p>
          <h4>Source code</h4>
          <pre class="code">return;</pre>
        </section>
        
        <hr/>
        
        <section class="bookmarklet">
          <h3><a name="to-english" class="name">To English</a></h3>
          <h4>Description</h4>
          <p>Translate the page that you are currently on to English using Google Translate. Of course you can modify this bookmarklet to use any language.</p>
          <h4>Bookmarklet</h4>
          <p>Drag and drop or bookmark this link: <a href="javascript:(function()%7Breturn%3B%7D)()" class="url">Bookmarklet</a></p>
          <h4>Source code</h4>
          <pre class="code">return;</pre>
        </section>
        
        <hr/>
        
        <section class="bookmarklet">
          <h3><a name="view-source" class="name">View source</a></h3>
          <h4>Description</h4>
          <p>This bookmarklet opens a new window to display the source code of the current page. This feature is typically not available on mobile web browsers so this bookmarklet is an way to re-implement this feature using JavaScript.</p>
          <h4>Bookmarklet</h4>
          <p>Drag and drop or bookmark this link: <a href="javascript:(function()%7Breturn%3B%7D)()" class="url">Bookmarklet</a></p>
          <h4>Source code</h4>
          <pre class="code">return;</pre>
        </section>
        
        <hr/>
        
        <section class="bookmarklet">
          <h3><a name="whois" class="name">Whois</a></h3>
          <h4>Description</h4>
          <p>Do a whois query on the domain that you are currently visiting using whois.domaintools.com.</p>
          <h4>Bookmarklet</h4>
          <p>Drag and drop or bookmark this link: <a href="javascript:(function()%7Breturn%3B%7D)()" class="url">Bookmarklet</a></p>
          <h4>Source code</h4>
          <pre class="code">return;</pre>
        </section>
        
        <hr/>
        
      </section>

      <script>
        function fillSection(section) {
          var script = section.getElementsByClassName('name')[0].innerHTML;
          console.debug('Loading ' + script);
          fetch('https://raw.githubusercontent.com/{{site.github.repository_nwo}}/main/javascripts/' + encodeURIComponent(script) + '.js')
            .then(function(response) {
              response.text()
                .then(function(code) {
                  console.debug('Loaded ' + script);
                  var block = section.getElementsByClassName('code')[0];
                  block.innerHTML = '';
                  block.appendChild(document.createElement('code')).appendChild(document.createTextNode(code));
                  var anchor = section.getElementsByClassName('url')[0];
                  anchor.href = 'javascript:(function()%7B' + encodeURIComponent(code.replace(/[\r\n\t]+/gm, ' ').replace(/  +/gm, ' ')) + '%7D)()';
                  anchor.innerHTML = script;
                });
            })
            .catch(function(error) {
              console.log(error);
            });
        }
        var sections = document.getElementsByClassName('bookmarklet');
        console.debug('Found ' + sections.length + ' bookmarklet sections');
        for (var i = 0; i < sections.length; i++) {
          fillSection(sections[i]);
        }
      </script>
        
    </div>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
    
    <footer>
      <div class="container">
        <section id="downloads">
          {% if site.show_downloads %}
            <a href="{{ site.github.zip_url }}" class="btn">Download as .zip</a>
            <a href="{{ site.github.tar_url }}" class="btn">Download as .tar.gz</a>
          {% endif %}
          <a href="{{ site.github.repository_url }}" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
        </section>
        <section id="copyright">
          Copyright &copy; 2019 <a href="https://www.leplus.org" target="_blank">Thomas Leplus</a>.
        </section>
        <section id="license">
          Unless otherwise noted, the content of this site is licensed under <a href="{{site.github.license.url}}" target="_blank">{{site.github.license.name}}</a>.
        </section>
      </div>
    </footer>
    
  </body>
</html>
