---
name: Scorecards supply-chain security
on:
  push:
    branches:
      - main
      - "releases/**"
  schedule:
    - cron: "0 0 * * 0"
  workflow_dispatch:

permissions: {}

jobs:
  scorecards:
    name: Scorecards analysis
    runs-on: ubuntu-latest
    permissions:
      # Required to read the code
      actions: read
      # Required to read the code
      contents: read
      # Required to sign the SARIF file
      id-token: write
      # Required to upload the SARIF file to the security tab
      security-events: write
    steps:
      - name: "Checkout code"
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 1
          persist-credentials: false
      - name: "Run analysis"
        uses: ossf/scorecard-action@4eaacf0543bb3f2c246792bd56e8cdeffafb205a # v2.4.3
        with:
          results_file: scorecards-results.sarif
          results_format: sarif
          publish_results: true
      - name: "Upload to code-scanning"
        uses: github/codeql-action/upload-sarif@0499de31b99561a6d14a36a5f662c2a54f91beee # v4.31.2
        with:
          sarif_file: scorecards-results.sarif
