---
name: "YAMLLint"

on:
  push:
  pull_request:
  schedule:
    - cron: "0 0 * * 0"
  workflow_dispatch:

permissions: {}

jobs:
  lint:
    name: Check with YAMLLint
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Run YAMLLint
        shell: bash
        run: |
          set -euo pipefail
          IFS=$'\n\t'
          yamllint -d '{extends: default, rules: {line-length: disable}}' .
